.container{
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.item{
    border: 1px solid rgb(221, 50, 50);
    width: 100px;
    height: 100px;
}