*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    display: flex;
    height: 2.5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 107, 107);
	position: sticky;
    top: 0px;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.header-png{
    width: 1.2em;
    height: 1.2em;
}
.select{
    text-align: left;
    flex: 1 0 36%;
}
.select>img{
    margin-left: 5%;
}
.books{
    text-align: center;
    flex: 1 0 13%;
    color: white;
}
.books:hover{
    transform: scale(1.2);
    color: yellow;
}
.follow{
    text-align: center;
    flex: 1 0 13%;
    color: white;
}
.follow:hover{
    transform: scale(1.2);
    color: yellow;
}
.query{
    text-align: right;
    flex: 1 0 24%;

}
.setting{
    flex: 1 0 11%;
    text-align: center;
    color: white;
}

#body{
    display: flex;
    flex-direction: column;
}
#body>div{
    height: 86px;
}
.ad-bgc{
    height: 90px;
    background-color: rgba(240, 179, 154,0.9);
}
.ad{
    display: flex;
    justify-content: start;
    align-items: center;
}
.ad>div>p {
    font-size: 12px;
    line-height: 1.7em;
}
.add-red{
    color: rgb(241, 107, 107);
}
.add-gray{
    color: rgb(151, 144, 144);
}
.ad-data:first-child{
    margin: 2%;
    flex: 0 1 22%;
}
.ad-data:nth-child(2){
    flex: 0 1 50%;
}
.ad-data:nth-child(3){
    flex: 0 1 28%;
}
.ling{
	margin-right: 9%;
}
.ling-data{
    text-align: center;
    background-color: red;
	border-radius: 15px; 
    color: white;
    height: 26px;
	width: 100%;
	font-size: 14px;
}
#body{
    background-color: rgb(250, 230, 200);
}
.book{
    display: flex;
    justify-content: start;
    align-items: center;
}
.book>div>p {
    font-size: 12px;
    line-height: 1.7em;
}
.book-img{
    margin: 2%;
    flex: 0 1 22%;
}
.book-name{
    flex: 0 1 50%;
}
.book-setting{
    align-self: end;
    flex: 0 1 28%;
}
.book-setting>strong{
    margin-left: 74%;
    color: rgb(58, 53, 53);
}
#bottom{
    background-color: rgb(236, 229, 213);
    display: flex;
    justify-content: space-around;
	position: sticky;
    bottom: 0px;
}
.bottom-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.bottom-icon>img{
    height: 24px;
}
.find{
	display: flex;
	color: red;
	font-size: 14px;
	height: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(250, 230, 200);
}
.find-more{
	border: 1px solid red;
	box-sizing: content-box;
	padding: 0.1em 0.3em;
    border-radius: 12px;
	background-color: white;
}
